<mat-card>
  <img class="imgLog" src="./assets/icon-left-font.png" />
  <mat-card-title>S'inscrire</mat-card-title>
  <mat-card-content>
    <!-- <form class="example-form"> -->
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <table class="example-full-width">
        <tr>
          <td>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              </mat-form-field>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">L'Email est requise</div>
                <div *ngIf="f.email.errors.email">L'adresse email doit-être vallide</div>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <table class="example-full-width">
        <tr>
          <td>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Pseudo</mat-label>
                <input matInput type="text" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              </mat-form-field>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Le nom d`utilisateur est requis</div>
                <div *ngIf="f.username.errors.minlength">Le nom d`utilisateur doit être compris entre 5 et 12 caractères
                </div>
                <div *ngIf="f.username.errors.maxlength">Le nom d`utilisateur doit être compris entre 5 et 12 caractères
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <table class="example-full-width">
        <tr>
          <td>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="pass"
                  [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
              </mat-form-field>
              <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                <div *ngIf="f.pass.errors.required">Mot de passe requis</div>
                <div *ngIf="f.pass.errors.minlength">Mot de passe de 6 caractères minimum</div>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <table class="example-full-width">
        <tr>
          <td>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>bio</mat-label>
                <textarea matInput formControlName="bio"></textarea>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>

      <div class="button">
        <button type="submit" mat-raised-button color="primary" (click)="register()">Inscription</button>
      </div>
      <p class="erreurWrapper" *ngIf="error">{{error.error.erreur}}</p>
      <hr>
      <p>Déjà inscrit ? <b class="connectInRegister" routerLink="/login">connectez-vous</b></p>
    </form>

  </mat-card-content>
</mat-card>