<mat-card>
    <img class="imgLog" src="./assets/icon-left-font.png" />
    <mat-card-title>Se Connecter</mat-card-title>
    <mat-card-content>
        <form [formGroup]="connectForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Email" formControlName="login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                        <div *ngIf="f.login.errors.required">L'Email est requise</div>
                        <div *ngIf="f.login.errors.email">L'adresse email doit-être vallide</div>
                      </div>   
            </div>
            <div class="form-group">
                    <mat-form-field>
                        <input type="password" formControlName="pass" matInput placeholder="Mot de passe" formControlName="pass"
                        [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
                    </mat-form-field>
                    <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                        <div *ngIf="f.pass.errors.required">Mot de passe requis</div>
                        <div *ngIf="f.pass.errors.minlength">Mot de passe de 6 caractères minimum</div>
                      </div>
            </div>
            <div class="button">
                <button type="submit" mat-raised-button color="primary" (click)="connexion()">Connexion</button>
            </div>
            <p class="erreurWrapper" *ngIf="error">{{error.error.erreur}}</p>
            <hr>
            <p>Pas encore inscrit ? <b class="connectInRegister" routerLink="/register">inscrivez-vous</b></p>
        </form>
    </mat-card-content>
</mat-card>