mat-card {
  display: flex;
    margin: 82px auto;
    /* padding: 0 16px; */
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}
  .mat-form-field {
    /* width: 100%; */
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
  }

  mat-card-title {
    margin-bottom: 30px;
  }
  
  .imgLog {
    width: 150px;
    margin-left: -10px;
  }
  .connectInRegister:hover {
    cursor: pointer;
    color: red;
  }