<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-button>
    <p routerLink="home">Accueil</p>
  </button>

  <div class="avatarWrapper" *ngIf="data.authToken">
    <div mat-card-avatar class="example-header-image"></div>
    <p routerLink="myaccount">Bienvenue {{data.profil.username}}</p>
  </div>


  <div class="imggroup">
    <img class="groupomaniaImg" src="./assets/group.png" />
  </div>


  <button mat-button *ngIf="data.username">
    <p (click)="onLogout()">Se deconnecter</p>
  </button>


</div>


<div class="content" role="main">






  <router-outlet></router-outlet>




</div>




<footer>

</footer>